html, body, h1, h2, h3, h4, h5, h6, strong, b, em, i, p, span, ul, ol, li, dl, dd, blockquote, div, section, figure {
	padding: 0;
	margin: 0;
	width: auto;
	line-height: 1;
}

a {
	text-decoration: none;
}
